
#text_container_recherche img {
    width: 150px;
    height: 250px;
    margin-top: 25px;
    margin-left: 15px;
}

.img:hover {
    width: 250px;
    transform: scale(1.25);
    transition: all 0.9s ease;
}


